* {
    background-color: black;
    font-family: 'Caveat', cursive;
  }
  #pic {
    border: 5px solid white;
    margin-top: 5%;
    margin-left: 25%;
  }

  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
  }

  p {
    text-transform: capitalize;
    text-align: center;
  }

  h1, p {
    color: white;
  }